@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&family=ZCOOL+KuaiLe&display=swap");

:root {
  --main-width: 70vw;
  --main-height: 90vh;
  --canva-width: 500px;
  --canva-height: 500px;
}

html {
  font-family: "Source Sans Pro", sans-serif;
  /*font-family: 'ZCOOL KuaiLe', cursive;*/
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
}

.container {
  width: var(--main-width);
  height: var(--main-height);
}
.title {
  display: flex;
  font-family: "Source Sans Pro", sans-serif;
  justify-content: center;
  font-size: 2em;
}
.title h1 {
  margin: 0.5em;
  margin-right: 2px;
  margin-top: 0.5rem;
  color: #041d41;
}


.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.settings {
  display: flex;
  flex-direction: column;
  min-width: 20vw;
  min-height: 30rem;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.settings button {
  width: 100%;
  padding: 1rem 4rem;
  border: none;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 4px;
  transition: all 0.1s ease-in-out;
  color: #262524;
}

input[type="number"] {
  width: 50%;
  height: 30px;
  border: none;
  text-align: center;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 4px;
  background-color: transparent;
}

button:hover,
input[type="color"]:hover {
  transform: scale(1.05);
}

input[type="color"] {
  -webkit-appearance: none;
  width: 80px;
  height: 80px;
  border: none;
  transition: all 0.1s ease-in-out;
}
input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 4px;
}

#rainbow {
  background-color: #003b62;
  color: white;
  font-weight: bold;
}
#grayScale {
  background-color: #4ec23c;
  color: white;
  font-weight: bold;
}
#eraser {
  background-color: #351e01;
  color: white;
  font-weight: bold;
}
.canvas {
  min-width: var(--canva-width);
  min-height: var(--canva-height);
  background-color: #ffff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
